<li><a href="{{ url("FileServer_Upload", {"store":almacen}) }}">Subir archivos</a></li>
<li><a href="{{ url("FileServer_ListadoArchivos", {"almacen":almacen}) }}">Listado archivos</a></li>
<li><a href="#">Configuración</a></li>